:root {
    --primary-color: #0A192F;
    --secondary-color: #172A45;
    --accent-color: #64FFDA;
    --text-color: #8892B0;
    --background-color: #f6f6f6;
    --link-color: #9372ff;
}

.news-events {
    background: var(--background-color);
    padding: 50px 5vw;
    text-align: center;
    color: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
    width: 85%;
    margin: 0 auto;
}

.news-events h2 {
    margin-bottom: 30px;
    font-size: 2.2rem;
    color: var(--link-color);
}

.news-event-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0 auto;
    max-width: 90vw;
}

.news-event-card {
    position: relative;
    width: 30vw;
    height: 18vw;
    background-size: cover;
    background-position: center;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: background 0.5s ease-in-out, opacity 0.5s ease-in-out;
    margin: 0 10px;
}

.news-event-card:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.news-event-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease-in-out;
    z-index: 0;
}

.news-event-card:hover::before {
    background: rgba(0, 0, 0, 0.7);
}

.content-box {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 1;
}

.description {
    font-size: 2.2rem;
    font-weight: bold;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.news-event-card:hover .description {
    opacity: 0.2;
}

.link {
    display: block;
    font-size: 1.4rem;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    margin-top: 10px;
}

.news-event-card:hover .link {
    color: var(--link-color);
    font-weight: bold;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .news-event-container {
        flex-direction: column;
        align-items: center;
    }

    .news-event-card {
        width: 90vw;
        height: 45vw;
    }
}
