:root {
    --primary-color: #0A192F;
    --secondary-color: #172A45;
    --accent-color: #64FFDA;
    --text-color: #8892B0;
    --background-color: #0A192F;
    --heading-font: 'Roboto', sans-serif;
    --body-font: 'Open Sans', sans-serif;
}

body {
    font-family: var(--body-font);
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

#navbar {
    position: fixed;
    display: flex;
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 24px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(10, 25, 47, 0.8);
    backdrop-filter: blur(8px);
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s, box-shadow 0.3s;
}

#navbar:hover {
    background-color: rgba(10, 25, 47, 1);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

#logo-container {
    flex: 1;
}

#logo {
    height: 32px;
}

#nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    flex: 1;
    height: 100%;
}

.nav-link {;
    height: 100%;
    display: grid;
    place-items: center;
    color: var(--text-color);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s, transform 0.3s;
}

.nav-link:hover {
    color: var(--accent-color);
    transform: scale(1.05);
}

#cta-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

#cta-button {
    background-color: var(--accent-color);
    color: var(--primary-color);
    border: none;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    font-weight: 700;
}

.nav-menu {
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    background-color: rgba(10, 25, 47, 1);
    padding: 8px 0 16px;
    z-index: 1002;

    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.nav-menu-link {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-menu-link:hover {
    color: var(--accent-color);
    transform: scale(1.05);
}

#technical-menu-popover {
}

@media (max-width: 768px) {
    #nav-links {
        display: none;
    }

    #menu-toggle {
        display: block;
    }

    #menubtn {
        display: none;
    }

    .side-nav {
        width: 200px;
    }
}