#navbar {
    position: fixed;
    display: flex;
    top: 0px;
    width: 100%;
    height: 46px;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    background-color: #0B212E;
    z-index: 1000;
}
  
#logo-container {
    margin-right: 16px; 
}
  
#logo {
    height: 35px;
    margin-left: 17.5vw;
}
  
#nav-links {
    display: flex;
    margin-left: 55px;
    
   
    
}
  
.nav-link {
    color: white;
    text-decoration: none;
    margin-right: 35px;
    
}




#menubtn{
    display: inline-block; /* Necessary for proper padding and margins */
    padding: 8px 15px;
    font-weight: 800;
    margin-right: 350px;
    text-decoration: none; /* Removes underline from links */
    background-color: white; /* Blue background */
    color: #0b212e; /* White text */
    border-radius: 25px; /* Rounded corners */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}
#closebtn{
    display: inline-block; /* Necessary for proper padding and margins */
    padding: 8px 15px;
    margin: 5px;
    font-weight: 800;
    margin-right: 100px;
    text-decoration: none; /* Removes underline from links */
    background-color: white; /* Blue background */
    color: #0b212e; /* White text */
    border-radius: 25px; /* Rounded corners */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

#join-button:hover, #registration-button:hover {
    background-color: #0056b3; /* Change background to white on hover */
    color: white; /* Change text color to dark blue on hover */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Optional: add shadow for better visibility */
}

/* styles.css */
.side-nav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
   /* Black*/
    backdrop-filter: blur(15px);
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.2s; /* 0.5 second transition effect to slide in the sidenav */
    padding-top: 60px; /* Place content 60px from the top */
}

.side-nav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #aeaeae;
    padding: 30px;
    font-weight: 600;
    display: block;
    
}

.side-nav a:hover {
    color: #000000;
}

#menu-toggle {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #ddd;
    padding: 10px;
}

