.registration-page {
    width: 100%;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}

#registration-background {
    border-radius: 8px;
    width: 40%;
    background-color: #f2f2f2;
    margin: 60px auto 0;
    padding: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}

.form-group-single {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
    width: 100%
}

input[type="text"],
input[type="date"],
input[type="password"],
input[type="tel"],
input[type="email"],
select {
    padding: 10px;
    width: 48%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

input[type="text"].occupation,
input[type="text"].address {
    padding: 10px;
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    border-radius: 8px;
    width: 20px;
    height: 20px;
    margin-left: auto;
    margin-right: 20px;
}

.checkbox-label {
    width: 60%;
    display: inline-block;
    align-items: center;
    text-align: left;
    font-size: small;
}

button {
    width: 50%;
    height: 42px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 1);
    color: #fdfbfb;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}

button.socials {
    background-color: white;
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
}

button:hover {
    background-color: #939090;
}

img {
    margin-right: 10px;
    height: 24px;
    width: auto;
}

.or-separator {
    display: block;
    text-align: center;
    font-size: 1.2rem;
    margin: 1rem 0;
    color: #888;
    margin-top: 10px;
}

/* Error Handling */
.defaultInput {
    border: 1px solid #ccc !important;
}

.validInput {
    border: 1px solid green !important;
}

.invalidInputl {
    border: 1px solid red !important;
}

.errorText {
    color: red !important;
}

.registration-text {
    text-align: left;
    margin-left: 10px;
    margin-bottom: 30px;
}

.registration-text h1 {
    color: rgba(0, 0, 0, 1);
    font-size: 2.5rem;
    margin-bottom: 0px;
    padding-right: 20px;
    width: 10%;
    display: inline-block;
}

.registration-text h2 {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.2rem;
    margin-top: 0px;
    padding: 0;
}

.registration-text h6 {
    color: rgba(0, 0, 0, 1);
    display: inline-block;
    width: 30%;
    margin-bottom: 1px;
    margin-left: 20px;
}

#Google {
    height: 16px;  /* Set a fixed height for both icons */
    width: 16px;   /* Allow the width to adjust based on the aspect ratio */
}

#Microsoft {
    height: 16px;  /* Set a fixed height for both icons */
    width: 16px;   /* Allow the width to adjust based on the aspect ratio */
}