.registration-page {
    width: 100%;
    margin-top: 64px;
    padding: 20px;
    text-align: center;
}

#registration-background {
    border-radius: 32px;
    width: 50%;
    background-color: #f2f2f2;
    margin: auto;
}

.form-group {
    margin-bottom: 20px;
}

input[type="text"],
input[type="date"],
input[type="password"],
input[type="tel"],
input[type="email"] {
    padding: 10px;
    width: 35%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 16px;
    margin-left: 20px;
}

input[type="occupation"],
input[type="Address"] {
    padding: 10px;
    width: 75%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 16px;
    margin-left: 20px;
}

input[type="checkbox"] {

    margin-right: 10px;
}

button[type="submit"] {
    width: 50%;
    height: 42px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 1);
    color: #fdfbfb;
    cursor: pointer;
    margin: 30px;
    text-align: center;
}

button[type="submit"]:hover {
    background-color: #939090;
}

.social-login button:hover {
    background-color: #939090;
}

.or-separator {
    display: block;
    text-align: center;
    font-size: 1.2rem;
    margin: 1rem 0;
    color: #888;
}

.social-login button {
    width: 50%;
    height: 42px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 16px;
    background-color: white;
    color: black;
    cursor: pointer;
    margin: 30px;
    text-align: center;
}

.registration-text {
    text-align: left;
    margin-left: 80px;
    margin-bottom: 30px;
}

.registration-text h1 {
    color: rgba(0, 0, 0, 1);
    font-size: 2.5rem;
    margin-bottom: 0px;
    padding-right: 0;
    width: 10%;
    display: inline-block;
}

.registration-text h2 {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.2rem;
    margin-top: 0px;
    padding: 0;

}

.registration-text h6 {
    color: rgba(0, 0, 0, 1);
    display: inline-block;
    width: 25%;
    margin-bottom: 1px;
    margin-left: 20px;
}

#Google {
    max-height: 24px;
    max-width: 24px;
}

#Microsoft {
    max-height: 16px;
    max-width: 16px;
}

