.footer-panel {
    background-color: teal;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .footer-logo img {
    max-width: 100%;
  }
  
  .footer-links {
    display: flex;
  }
  
  .footer-column {
    margin-right: 20px;
  }
  
  
  .footer-column ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 5px;
  }
  
  .contact-button button {
    background-color: white;
    color: teal;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  
  .footer-column ul li a {
    color: white;
    text-decoration: none;
  }
  

  .contact-button button {
    color: teal;
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px;
    border: 1px solid teal;
    cursor: pointer;
  }
  

  