#JoinPage {
    margin-top: 64px;
    padding: 20px 0px;
    width: 100%;
}

#background {
    border-radius: 32px;
    width: 50%;
    background-color: #f2f2f2;
    margin: auto;
}

.text {
    text-align: left;
    width: 80%;
    margin: auto;
}

.text h1 {
    color: rgba(0, 0, 0, 1);
    font-size: 2.5rem;
    margin-bottom: 0px;
    padding-right: 0;
    width: 10%;
    display: inline-block;
}

.text h2 {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.2rem;
    margin-top: 0px;
    padding: 0;

}

.text h6 {
    color: rgba(0, 0, 0, 1);
    display: inline-block;
    width: 25%;
    margin-bottom: 1px;
    margin-left: 20px;
}


.button-external button {
    width: 50%;
    height: 42px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 16px;
    background-color: white;
    color: black;
    cursor: pointer;
    margin: 30px;
    text-align: center;
}


.button-external button:hover {
    background-color: #939090;
}

.button-external span {
    display: block;
    text-align: center;
    font-size: 1.2rem;
    margin: 1rem 0;
    color: #888;
}

#Google {
    max-height: 24px;
    max-width: 24px;
}

#Microsoft {
    max-height: 16px;
    max-width: 16px;
}

.button-external{
    width: 500px;
    text-align: center;
    margin: auto;
}