#back-ground{
    background: linear-gradient(to right, #EDF5FC, #DFF0FF);
    background-image: url('../Images/backgroundSource.png');
    background-repeat: no-repeat;
    
}

#home-page {
    margin-top: 64px;
    width: 62.5vw; 
  margin: 0 auto; 
  max-width: 1200px; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.12), 0 6px 200px rgba(0,0,0,0.12);
 
}
/* automatically tansfrom size according to the mainstream screens: 1080p 2k 4k */
@media (min-width: 2560px) {
    .main-content {
      width: 46.875vw; 
    }
  }
  
  @media (min-width: 3840px) {
    .main-content {
      width: 31.25vw; 
    }
  }
#company-vision {
    background: linear-gradient(to right, #708BA5, #1F4F7B);
    width: 100%;
    display: inline-block;
    margin-top: 70px;
}

#company-intro {
    width: 30%;
    display: inline-block;
    float: left;
}


#company-intro h1 {
    text-align: left;
    font-size: 38px;
    margin: 50px 0px 20px 50px;
}

#intro-text p {
    text-align: left;
}

#learn-more-button {
    display: inline-block;
    margin-top: 20px;
    margin-right: 0px;

}

/*button style applied to anchor of link*/
#learn-more-button a {
    padding: 15px;
    border-radius: 32px;
    background-color: #0b212e;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-top:100px;
}


#our-services {
    text-align: center;
}

#section-image {
    display: inline-block;
    float: right;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-right: 30px;
    background-image: url('../Images/background.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 60%;
}

#service-boxes {
    margin-left: 300px;
    margin-right: 300px;
    display: flex;
    justify-content: space-around;
}

  
.service-box {
    flex: 1;
    margin: 10px;
    padding: 10px;
    border: 1px solid gray;
}

#intro-text {
    margin-top: 20px;
    margin-left: 50px;
    font-weight: bold;
}

#news-services {
    max-width: 90%;
    margin: auto;
}

 

